In [0]:
!pip install pandas

Requirement already satisfied: pandas in /databricks/python3/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.21.0 in /databricks/python3/lib/python3.10/site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /databricks/python3/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /databricks/python3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [0]:
# importing important modules
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import col

df = pd.read_csv("/dbfs/FileStore/shared_uploads/suriyakrishnan4798@gmail.com/walmart_stock.csv")
df

      Unnamed: 0  Min_of_volume  Max_of_volume  ...      Close    Volume  Adj Close
0       80898100   2.094900e+06      61.060001  ...  60.330002  12668800  52.619235
1     2012-01-04   6.021000e+01      60.349998  ...  59.709999   9593300  52.078475
2     2012-01-05   5.935000e+01      59.619999  ...  59.419998  12768200  51.825539
3     2012-01-06   5.942000e+01      59.450001  ...  59.000000   8069400  51.459220
4     2012-01-09   5.903000e+01      59.549999  ...  59.180000   6679300  51.616215
...          ...            ...            ...  ...        ...       ...        ...
1253  2016-12-23   6.943000e+01      69.750000  ...  69.540001   4803900  69.032411
1254  2016-12-27   6.930000e+01      69.820000  ...  69.699997   4435700  69.191240
1255  2016-12-28   6.994000e+01      70.000000  ...  69.309998   4875700  68.804087
1256  2016-12-29   6.921000e+01      69.519997  ...  69.260002   4298400  68.754456
1257  2016-12-30   6.912000e+01      69.430000  ...  69.120003   6889500  68.615479

[1258 rows x 7 columns]

In [0]:
# Assuming df is the dataframe
# scenario 1:  print out first 5 columns
print(df1.iloc[:, :5])

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1655643824988890>, line 3
      1 # Assuming df is the dataframe
      2 # scenario 1:  print out first 5 columns
----> 3 print(df1.iloc[:, :5])

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3068, in DataFrame.__getattr__(self, name)
   3035 """Returns the :class:`Column` denoted by ``name``.
   3036
   3037 .. versionadded:: 1.3.0
   (...)
   3065 +---+
   3066 """
   3067 if name not in self.columns:
-> 3068     raise AttributeError(
   3069         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   3070     )
   3071 jc = self._jdf.apply(name)
   3072 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'iloc'

In [0]:
'''scenario2:There are too many decimal places for mean 
and stddev in the describe() dataframe. Format the
 numbers to just show up to two decimal places. 
Pay careful attention to the datatypes that .describe() 
returns, we didn't cover how to do this exact formatting, 
but we covered something very similar. 
Check this link for a hintÂ¶'''

df1.describe().round(2)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1655643824988891>, line 9
      1 '''scenario2:There are too many decimal places for mean
      2 and stddev in the describe() dataframe. Format the
      3  numbers to just show up to two decimal places.
   (...)
      6 but we covered something very similar.
      7 Check this link for a hintÂ¶'''
----> 9 df1.describe().round(2)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3068, in DataFrame.__getattr__(self, name)
   3035 """Returns the :class:`Column` denoted by ``name``.
   3036
   3037 .. versionadded:: 1.3.0
   (...)
   3065 +---+
   3066 """
   3067 if name not in self.columns:
-> 3068     raise AttributeError(
   3069         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   3070     )
   3071 jc = self._jdf.apply(name)
   3072 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'round'

In [0]:
# print head of the data
df.head()

   Unnamed: 0  Min_of_volume  Max_of_volume  ...      Close    Volume  Adj Close
0    80898100   2.094900e+06      61.060001  ...  60.330002  12668800  52.619235
1  2012-01-04   6.021000e+01      60.349998  ...  59.709999   9593300  52.078475
2  2012-01-05   5.935000e+01      59.619999  ...  59.419998  12768200  51.825539
3  2012-01-06   5.942000e+01      59.450001  ...  59.000000   8069400  51.459220
4  2012-01-09   5.903000e+01      59.549999  ...  59.180000   6679300  51.616215

[5 rows x 7 columns]

In [0]:
# rename collumn 
df.rename(columns= {'Unnamed: 0' : 'Date'}, inplace=True)
print(df['Date'])

0         80898100
1       2012-01-04
2       2012-01-05
3       2012-01-06
4       2012-01-09
           ...
1253    2016-12-23
1254    2016-12-27
1255    2016-12-28
1256    2016-12-29
1257    2016-12-30
Name: Date, Length: 1258, dtype: object

In [0]:
df['Date']

0         80898100
1       2012-01-04
2       2012-01-05
3       2012-01-06
4       2012-01-09
           ...
1253    2016-12-23
1254    2016-12-27
1255    2016-12-28
1256    2016-12-29
1257    2016-12-30
Name: Date, Length: 1258, dtype: object

In [0]:
# What day had the Peak High in Price
peak_high_day = df[df['Volume'] == df['Volume'].max()]
print("Day with Peak High: ", peak_high_day)

Day with Peak High:             Date  Min_of_volume  Max_of_volume  ...      Close    Volume  Adj Close
951  2015-10-14      66.610001      67.949997  ...  60.029999  80898100  57.429177

[1 rows x 7 columns]

In [0]:
%sql
-- What is the max of the Volume column

SELECT * FROM walmart_stock WHERE walmart_stock.Volume = (SELECT MAX(walmart_stock.Volume) FROM walmart_stock)

Min_of_volume,Max_of_volume,Low,Close,Volume,Adj Close
66.610001,67.949997,60.02,60.029999,80898100,57.429177

In [0]:
%sql
--What is the max and min of the Volume column
SELECT
  MAX(Volume) AS Max_Volume,
  MIN(Volume) AS Min_Volume
FROM
  walmart_stock;

Max_Volume,Min_Volume
80898100,2094900

In [0]:
%sql

-- How many days was the Close lower than 60 dollars
SELECT
  COUNT(*) AS Num_Days_Lower_Than_60
FROM
  walmart_stock
WHERE
  Close < 60;

Num_Days_Lower_Than_60
81

In [0]:
%sql
-- What percentage of the time was the High greater than 80 dollars

SELECT
  COUNT(*) AS Num_Days_Higher_Than_80
FROM
  walmart_stock
WHERE
  Close < 80;

Num_Days_Higher_Than_80
1148

In [0]:
df.columns

Index(['Date', 'Min_of_volume', 'Max_of_volume', 'Low', 'Close', 'Volume',
       'Adj Close'],
      dtype='object')

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize Spark session
spark = SparkSession.builder.appName("WalmartStockStreaming").getOrCreate()

# Read data from Excel
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/suriyakrishnan4798@gmail.com/walmart_stock-1.csv")

# Create a temporary view for Spark SQL
df.createOrReplaceTempView("walmart_stock")

# Write a Spark SQL query
sql_query = """
    SELECT COUNT(*) AS OpenStockCount
    FROM walmart_stock
    WHERE OPEN = 'Walmart'
"""

# Execute the query
result = spark.sql(sql_query)
result.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1655643824988898>, line 11
      8 df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/suriyakrishnan4798@gmail.com/walmart_stock-1.csv")
     10 # Create a temporary view for Spark SQL
---> 11 df.createOrReplaceTempView("walmart_stock")
     13 # Write a Spark SQL query
     14 sql_query = """
     15     SELECT COUNT(*) AS OpenStockCount
     16     FROM walmart_stock
     17     WHERE OPEN = 'Walmart'
     18 """

File /databricks/python/lib/python3.10/site-packages/pandas/core/generic.py:5575, in NDFrame.__getattr__(self, name)
   5568 if (
   5569     name not in self._internal_names_set
   5570     and name not in self._metadata
   5571     and name not in self._accessors
   5572     and self._info_axis._can_hold_identifiers_and_holds_name(name)
   5573 ):
   5574     return self[name]
-> 5575 return object.__getattribute__(self, name)

AttributeError: 'DataFrame' object has no attribute 'createOrReplaceTempView'

  File <command-2002338860585168>, line 1
    git commit -m
        ^
SyntaxError: invalid syntax